.about {
    box-sizing: border-box;
    width: 100%;
    height: 550px;

    background-color: #F0FFF1;
    border-radius: 32px;
    margin-top: 160px;

    border: 1px solid black;

    display: flex;
    justify-content: center;
}

.text-about {
    width: 733px;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.caption-about {
    font-size: 36px;
    line-height: 1.2;
}

.image-about {
    position: relative;
    overflow: hidden; 
  }

  .img-shape {
    position: relative;
    top: -50px;
  }
  
  .img-about {
    position: absolute; /* абсолютное позиционирование */
    top: 50%; /* вертикальное центрирование */
    left: 50%; /* горизонтальное центрирование */
    transform: translate(-50%, -50%); /* точное центрирование */
    width: 400px; /* размер стакана книг */
    z-index: 1; /* ставим картинку сверху */
  }