.form-search {
    box-sizing: border-box;
    width: 50%;
    background-color: #D6EAD8;
    border-radius: 32px;
    padding: 15px;
    margin-top: 90px;
}

.input {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 24px;

    background: #FFFEF0;
    border: 1px solid #000000;
    border-radius: 16px;
}

.block-date {
    display: flex;
    justify-content: space-between;
}

.input-date {
    box-sizing: border-box;
    padding: 16px 24px;
    gap: 10px;


    background: #FFFEF0;
    border: 1px solid #000000;
    border-radius: 16px;

    background-image: url('data:image/svg+xml;base64,...');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    padding-right: calc(1em + 20px);

}
