.ReactModal__Body--open {
overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  min-width: 300px;
  text-align: center;
}

form label {
  margin-bottom: 5px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.modal-content button {
  cursor: pointer;
  color: red;
  background-color: transparent;
  border: none;
  font-weight: bold;
  font-size: 16px;
}