body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F6FFF7;

    justify-self: center;
    height: 100vh;
    margin-top: 30px;

}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

.button-one {
    box-sizing: border-box;
    padding: 16px 24px;
    gap: 10px;

    background: #FFC33E;
    border: 1px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 16px;

    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.button-one:hover {
    box-shadow: none;
}

.button-one:active {
    background-color: #F49425;
}


.button-two {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    cursor: pointer;
    width: 186px;
    padding: 16px 24px;
    background-color: #6AA378;
    border: 1px solid #000000;
    box-shadow: 4px 4px 0px #000000;
    border-radius: 16px;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}


.button-two:hover {
    box-shadow: none;
}


.button-two:active {
    background-color: #23685B;
}