.book-container {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;

}

.book-items-wrapper {
    display: flex;
    transition: transform 1s cubic-bezier(0.165, 0.84, 0.44, 1);

}

.book-item {
    width: 500px;
    box-sizing: border-box;
    padding: 25px;
    border: 1px solid black;
    border-radius: 15px;
    margin-right: 32px;
    flex-shrink: 0;
    background-color: #FFFEF0;
}

.desc-book {
    display: flex;
    gap: 32px;
}

.img-book {
    background-color: #000000;
    width: 40%;
    height: 200px;
}

.text-container {
    width: 60%;
}

.text-books {
    font-size: 16px;
    line-height: 1.2;
}

.gray-text {
    color: #93A497;
}

.button-slider {
    margin-top: 20px;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.arrow {
    display: flex;
    align-items: center;

    font-size: 17px;
    cursor: pointer;
    padding: 8px;
    z-index: 100;

    border: 1px solid black;
    background: #FFC33E;
    border-radius: 50%;
    box-shadow: 2px 2px 0px #000000;
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.arrow:hover {
    box-shadow: none;
}