.book_booking {
    justify-items: center;
}

.booking-libaries {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;

}

.booking-library {
    box-sizing: border-box;
    width: 400px;
    background: #F0FFF1;
    border: 1px solid black;
    border-radius: 32px;

    padding: 16px 16px 16px 24px;

    display: flex;
    justify-content: space-between;
    align-items: start;
    cursor: pointer;
}

.active-library {
    background-color: #FFFEF0;
    
}


.library_title__address {
    width: 290px;
}

.book-check {
    display: flex;
    align-items: center;
}

.library-title {
    font-size: 16px;
    font-family:  Montserrat-semiBold;
    font-weight: 600;
}

.rental-item {
    border: 1px solid black;
    background-color: #D6EAD8;
    border-radius: 32px;
    padding: 32px;
}

.disable {
    background-color: #98A49B;
}