.block-form {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-top: 90px;
}

.form-search {
    box-sizing: border-box;
    width: 50%;
    background-color: #D6EAD8;
    border-radius: 32px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 45px;
    height: min-content;
}

.input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 16px 24px;

    font-family: Montserrat-regular;
    color: #000000;
    font-size: 16px; 

    background: #FFFEF0;
    border: 1px solid #000000;
    border-radius: 16px;
    margin-top: 10px;
}

.label-input {
    font-family: Montserrat-semiBold;
    font-size: 16px;
    font-weight: 600;
}


.block-date {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.date {
    display: flex;
    flex-direction: column;
    width: 45%;
}

 .input-date {
/* 

    background-image: url('data:image/svg+xml;base64,...');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
    padding-right: calc(1em + 20px); */

    
} 


.book-list {
    display: flex;
    flex-wrap: wrap;
}

