.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

.logo {
    text-decoration: none;
}

.nav {
    list-style: none;

    display: flex;
    gap: 32px;
}

