.ReactModal__Body--open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #F6FFF7;
  border-radius: 32px;
  width: 840px;
  justify-items: center;
}

.caption-modal {
  font-size: 36px;
  text-align: center;
}

.button-close {
  width: 0px;
  height: 0;
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
  left: 711px;
}

.autorization-modal {
  width: 620px;
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.label-modal {
  font-size: 16px;
  font-family: Montserrat-semiBold;
}

.authorized {
  text-align: center;
}
