.ReactModal__Body--open {
  overflow: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #F6FFF7;
  border-radius: 32px;
  width: 840px;
  justify-items: center;
}

.caption-modal {
  font-size: 36px;
  text-align: center;
}

.button-close {
  width: 0px;
  height: 0;
  cursor: pointer;
  background: none;
  border: none;
  position: relative;
  left: 711px;
}

.autorization-modal {
  width: 620px;
  padding-top: 40px;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.label-modal {
  font-size: 16px;
  font-family: Montserrat-semiBold;
}

.authorized {
  text-align: center;
}

.radio-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  width: 0;
  height: 0;
}

/* Оформляем метку, которая замещает радиокнопку */
.radio-label {
  display: block;
  position: relative;
  padding-left: 50px;
  transition: color 0.2s ease;
}

/* Псевдоэлемент для обозначения круга радиокнопки */
.radio-label::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;

  outline: 1px solid #030303;
  outline-offset: 10px;
}

/* Выбранная радиокнопка выделяется голубым кругом */
.radio-input:checked ~ .radio-label::before {
  background-color: #6AA378;
  width: 12px;
  height: 12px;
  border: 1px solid black;
}


/* Контроль фокусировки */
.radio-input:focus ~ .radio-label::before {

}