.info-card {
    width: 400px;
    background-color: #F0FFF1;
    border: 1px solid black;
    padding: 32px;
    margin-top: 60px;
    margin-bottom: 40px;
    border-radius: 16px;
}


.info_library_panel {
    display: grid;
    grid-template-columns: repeat(1, 40px) 180px 100px 160px 180px 130px 100px;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.library-item {
    display: grid;
    grid-template-columns: repeat(1, 40px) 180px 100px 160px 180px 130px 100px;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.library-item:nth-last-child(1) {
    border-bottom: none;
}

.library-item:nth-child(2n) {
    background-color: #F0FFF1;
}

.books-search {
    display: flex;
    justify-content: space-between;
}

.counter {
    width: 200px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 32px;
    padding: 16px;
}

.pagination-arrow:disabled {
background-color: #93A497;
}

.file {
    display: flex;
    gap: 10px;
}

.counter-file {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.actions {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.pencil {
    color: #23685B;
    cursor: pointer;
}

.trash {
    cursor: pointer;
    color: #FF2125;
}

.flex-delete {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}

.modal-delete {
    padding: 40px;
}