.info-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 32px;
}

.flex {
    display: flex;
    gap: 32px;
}

.special-box {
    display: flex;
    flex-direction: column;
    gap: 32px;

}

.info-item {
    border: 1px solid black;
    border-radius: 32px;
    background: #F0FFF1;
    padding: 32px;
}

.hello-panel {
    font-size: 36px;
    font-family: Montserrat-semiBold;

    margin-top: 40px;
    margin-bottom: 64px;
}