.chat-container {
    position: fixed;
    bottom: 100px;
    right: 40px;
    background-color: #D6EAD8;
    border-radius: 16px;

}

.chat-box {
    width: 500px;
    height: 600px;
    display: grid;
    grid-template-rows: 50px 500px 50px;
}

.header-chat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;

}

.chat {
    padding: 10px;
    border-radius: 50%;
    position: fixed;
    right: 40px;
    bottom: 40px;
}

.message-box {
    background-color: #FFFEF0;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding-top: 16px;

    overflow-y: auto;
}

.created-chat {
    justify-self: center;
    background-color: #D6EAD8;
    padding: 4px 8px;
    border-radius: 8px;
    border: 1px solid black;
}

.input-message {
    background-color: #FFFEF0;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    display: flex;

    align-items: center;
}

.message {
   border: none;
   outline: none;
   background-color: inherit;
   width: 385px;
}

.right {
justify-self: right;
}

.message-item {
    width: 250px;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #FFC33E;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}