.head-panel {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.item-box {
    border: 1px solid black;
    border-radius: 16px;
    background-color: #D6EAD8;


}

.info_user_panel {
    display: grid;
    grid-template-columns: repeat(1, 40px) 280px 210px 170px 65px 100px;
    padding: 20px;
    text-align: center;
}


.user-item {
    display: grid;
    grid-template-columns: repeat(1, 40px) 280px 210px 170px 65px 100px;
    border-bottom: 1px solid gray;
    padding-left: 20px;
    text-align: center;
    align-items: center;
}

.user-item:nth-last-child(1) {
    border-bottom: none;
}

.user-item:nth-child(2n) {
    background-color: #F0FFF1;
}

.user-information {
 text-align: left;
}

.pagination {
    width: 30%;
    justify-self: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 32px;
    padding: 16px;
    background-color: #FFFEF0;
  }

  .pagination-arrow {
    background-color: #6AA378;
    border: 1px solid black;
    border-radius: 50%;
    padding: 4px 12px;
    font-size: 24px;
    position: relative;
  }

  .right {
    left: 40px;
  }

  .left {
    right: 40px;
  }
  
  
  .pagination button.active {
    background-color: #FFC33E;
    border: 1px solid black;
    border-radius: 50%;
    padding: 4px 10px;
    font-size: 17px;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    color: black;
  }