.panel {
    display: flex;
}

.aside {
    box-sizing: border-box;
    width: 330px;
    height: 814px;
    padding: 32px;
    border: 1px solid black;
    border-radius: 32px;
    background-color: #D6EAD8;
}

.nav-profile {
    display: flex;
    flex-direction: column;
}

.item-nav {
    display: flex;
    flex-direction: column;
}